html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
li{
  list-style-type: none;
}

.rounded{
  border-radius: 16px !important;
}

.text-hero{
  font-size: 58px;
}
.hero-img{
  object-fit: cover;
  height: 480px;
  object-position: right;
}
.text-xxxl{
  font-size:  5.2rem;
}
.px-lg-6{
  padding-right: 4rem !important;
  padding-left: 4rem !important;
}
.sm-border{
  height: 12px;
  background-color: #fff;
  width: 60px;
  border-radius: 6px;
}
.py-6{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py-lg-8{
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}
.px-8{
  padding-right: 5rem;
  padding-left: 5rem;
}

@media (max-width: 426px) { 

  .text-xxxl{
    font-size: 2.2rem;
  }

  .py-md-0{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  .px-md-0{
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }

  .text-hero{
    font-size: 28px;
  }
  .left-25{
    left: 30% !important;
  }

 }