html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
li{
  list-style-type: none;
}

.rounded{
  border-radius: 16px !important;
}

.text-hero{
  font-size: 58px;
}
.hero-img{
  object-fit: cover;
  height: 480px;
  object-position: right;
}
.text-xxxl{
  font-size:  5.4rem;
}
.px-6{
  padding-right: 4rem;
  padding-left: 4rem;
}
.sm-border{
  height: 12px;
  background-color: #fff;
  width: 60px;
  border-radius: 6px;
}
.py-6{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py-8{
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.px-8{
  padding-right: 5rem;
  padding-left: 5rem;
}
